In [39]:
# Written by Tyler Beetle for Data Science and Machine Learning Bootcamp Udemy Course.

In [40]:
import pandas as pd

In [41]:
path = './Data/Salaries.csv'

In [42]:
sal = pd.read_csv(path)

/var/folders/fw/p1jywm110tb663fdqjlb3g_80000gn/T/ipykernel_35922/3874033546.py:1: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  sal = pd.read_csv(path)

In [43]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [44]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

In [45]:
sal['BasePay'] = pd.to_numeric(sal['BasePay'], errors='coerce')

In [46]:
sal['BasePay'].mean()

66325.4488404877

In [47]:
sal['OvertimePay'] = pd.to_numeric(sal['OvertimePay'], errors='coerce')

In [48]:
sal['OvertimePay'].max()

245131.88

In [116]:
result = sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']

In [117]:
result

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status,title_length
24,25,JOSEPH DRISCOLL,"CAPTAIN, FIRE SUPPRESSION",140546.86,97868.77,31909.28,NaN,270324.91,270324.91,2011,NaN,San Francisco,NaN,25

In [118]:
result['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [54]:
max_index = sal['TotalPayBenefits'].idxmax()
sal.loc[max_index]

Id                                                               1
EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                  167411.18
OvertimePay                                                    0.0
OtherPay                                                 400184.25
Benefits                                                       NaN
TotalPay                                                 567595.43
TotalPayBenefits                                         567595.43
Year                                                          2011
Notes                                                          NaN
Agency                                               San Francisco
Status                                                         NaN
Name: 0, dtype: object

In [55]:
min_index = sal['TotalPayBenefits'].idxmin()
sal.loc[min_index]

Id                                      148654
EmployeeName                         Joe Lopez
JobTitle            Counselor, Log Cabin Ranch
BasePay                                    0.0
OvertimePay                                0.0
OtherPay                               -618.13
Benefits                                     0
TotalPay                               -618.13
TotalPayBenefits                       -618.13
Year                                      2014
Notes                                      NaN
Agency                           San Francisco
Status                                      PT
Name: 148653, dtype: object

In [74]:
sal.groupby('Year', as_index=False)['BasePay'].mean()

   Year       BasePay
0  2011  63595.956517
1  2012  65436.406857
2  2013  69630.030216
3  2014  66564.421924

In [85]:
sal['JobTitle'].nunique()

2159

In [88]:
sal['JobTitle'].value_counts()[:5]

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64

In [98]:
sal_2013 = sal[sal['Year'] == 2013]

val_counts = sal_2013['JobTitle'].value_counts()

single_occurrences = val_counts[val_counts == 1]

len(single_occurrences)

202

In [122]:
def chief_string(title):
    if 'chief' in title.lower().split():
        return True
    else:
        return False

In [123]:
sum(sal['JobTitle'].apply(lambda x: chief_string(x)))

477

In [112]:
sal['title_length'] = sal['JobTitle'].str.len()
sal[['title_length','TotalPayBenefits']].corr()

                  title_length  TotalPayBenefits
title_length          1.000000         -0.036878
TotalPayBenefits     -0.036878          1.000000